.slide .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: left;
    height: calc(100vh - 165px);
    
  }
  
  @media (max-width: 768px) {
      .slide .carousel-inner {
        justify-content: center;
      }

      .slide .carousel-inner {
        height: calc(100vh - 200px);
      
        
      }
  }

  .slide .carousel-inner h1 {
    position: absolute;
    color: #FFF;
    z-index: 3;
    font-size: 50px;
    max-width: 900px;
    left: 100px;
    line-height: 1.5;
  }
  

  
  @media (max-width: 768px) {
    .slide .carousel-inner h1 {
      font-size: 35px;
      max-width: 100%;
      left: auto;
      text-align: center;
    }
  }
  
  .slide .carousel-inner h1 span {
    background-color: #ec1c23;
    color: #FFF;
    display: inline-block;
    padding: 2px 10px;
  }
  
  .slide .carousel-inner .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 1;
  }

  .slide .carousel-item {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin:0;
    
  }

  .slide .carousel-indicators li {
    height: 8px;
    cursor: pointer;
   
  }