/* Start Copyright */

.copyright {
          border-top: 1px solid #c0c0c0;
          padding: 20px;
          background-color: #08526d;
          color: #FFF;
          text-align: center;
        }
        
        
        
        
        
        /* End Copyright */